.navbar-container-relative {
  position: relative;
}

.navbar_styles {
  background-color: #161618;
}

.navbar_styles .logo_principal {
  fill: #fffffc;
  width: 2rem;
  height: 2rem;
}

.navbar_styles .nome_site {
  font-size: 1.5rem;
  color: #fffffc;
  font-weight: bold;
}

.navbar-brand svg,
.navbar-brand span {
  transition: color 0.15s ease-in-out;
}

.navbar-brand svg:hover,
.navbar-brand span:hover {
  color: #1f9ea3;
}

.navbar-nav {
  flex-direction: row;
  justify-content: center;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 2px #fffffc;
  outline: none;
}

.navbar_styles .hamburguer_menu {
  color: #fffffc;
  height: 32px;
  width: 32px;
}

.navbar_styles .nav-link {
  color: #fffffc;
  font-size: 1.125rem;
  border-radius: 8px;
  border: 2px solid #2a2a2a;
  padding: 5px 20px;
  display: inline-block;
}

.navbar_styles .nav-link:hover {
  color: #1f9ea3;
}

.navbar_styles .github_logo {
  color: #fffffc;
  width: 2rem;
  height: 2rem;
}

.navbar_styles .github_logo:hover {
  color: #1f9ea3;
  transition: color 0.15s ease-in-out;
  cursor: pointer;
}

@media (max-width: 992px) {
  #navbarCentral .navbar-nav {
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
  }
  .navbar_styles .github_logo {
    display: none;
  }
}

@media (min-width: 992px) {
  .navbar-nav.mx-auto {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
