body{
  background-color:#161618;
}

.container-home {
  margin-bottom: 128px;
  color: #fffffc;
}

.container-home img{
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.text-home{
  padding: 32px 0 0;
  text-align: center;
}

.text-home h1{
  font-size: 58px;
  font-weight: 500;
  line-height: 1.5;
}
.text-home p{
  font-size: 18px;
  color: #c2c2c2;
  font-weight: 400;
  line-height: 1.5;
}
.carousel-inner{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.carousel-control-next {
    right: -3%;
    width: fit-content;
}
.carousel-control-prev {
    left: -3%;
    width: fit-content;
}
.text-servicos h2{
    color: #fffffc;
}
.text-servicos p{
    color: #c2c2c2;
}

  .text-explore{
  width: 100%;
  margin: 0 auto;
  padding: 32px 0;
  text-align: left;
}

.container-explore{
  margin-bottom: 128px;
}

.container-exploreFilmes{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.container-exploreFilmes h2{
  font-size: 46px;
  color: #fffffc;
  font-weight: 500;
  line-height: 1.5;
}

.container-exploreFilmes p{
  font-size: 18px;
  color: #c2c2c2;
  line-height: 1.5;
}

.card-body{
  padding: 0 64px;


}
.card-description{
    margin-top: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; 
}
.container-chamadaAcao {
  position: relative;
  color: #fffffc;
  display: flex;
}
.img-chamadaAcao{
  width: 100%;
}

.img-chamadaAcao img {
  object-fit: cover;
    width: 100%;
    height: auto;
}

.text-chamadaAcao {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.text-chamadaAcao-container{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.text-chamadaAcao h2 {
  width: 100%;
  margin: 0 0 8px 0;
  font-size: 2.5rem;
}

.text-chamadaAcao p {
  margin: 0;
  line-height: 1.5;
}

.text-chamadaAcao a {
  background-color: #1f9ea3;
  align-self: center;
  display: flex;
  align-items: center;
  color: #fffffc;
  border: none;
  padding: 12px 28px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  height: fit-content;
  transition: transform 0.2s ease;
  text-decoration: none;
}

.text-chamadaAcao a:hover {
  background-color: #108c91;
  transform: scale(1.1);
}

.container-servicos {
  text-align: left;
  margin-bottom: 128px;
}

.container-servicos p {
  font-size: 1rem;
}

.card-smartphone,
.card-tablet,
.card-tv,
.card-laptop {
  width: 100%;
  height: 100%;
  flex: 1;
  background: #fffffc;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  background: linear-gradient(
    90deg,
    #101011 0%,
    #108c91  100%
  );
}

.cards-servicos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 30px;
}

.cards-servicos p {
  color: #fffffc;
  font-size: 16px;
  margin: 10px;
  line-height: 1.5;
}


.cards-servicos span,
.cards-servicos i {
  color: #fffffc;
  margin: 5px;
}

@media (max-width: 1280px) {
  .img-chamadaAcao img {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .cards-servicos {
    grid-template-columns: 1fr;
  }
  .text-chamadaAcao a {
    margin: 16px auto 0;
  }
  .img-chamadaAcao img {
    height: 250px;
  }
  .text-chamadaAcao h2 {
    font-size: 2rem;
  }
}

@media (max-width: 386px) {
  .img-chamadaAcao img {
    height: 300px;
  }
    .text-chamadaAcao h2 {
    text-align: center;
  }

  .text-chamadaAcao p {
    text-align: center;
  }
}