
/* precos */
.main-planos{
  position: relative;
}
.main-planos::after{
  content: '';
  background-image: url(../img/imagem_home.png);
  background-color: rgba(0, 0, 0, 0.5);
  filter: opacity(0.4);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.price {
  text-align: center;
  margin: 128px auto;
}

.price h1 {
  color: #fffffc;
  font-size: 3rem;
  margin-bottom: 10px;
}

.price p {
  max-width: 700px;
  margin: 0 auto 64px;
  font-size: 1.3rem;
  color: #fffffc;
}

.price h6 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

/* cards */
.planos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.planos > div {
  background: #161618;
  border-radius: 15px;
  padding: 25px;
  text-align: left;
  box-shadow: 0 4px 15px rgba(0,0,0,0.6);
  transition: transform 0.3s, box-shadow 0.3s;
}

.planos > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.8);
}

/* topo dos planos */
.planos h2 {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 10px;
  color: #fffffc;
}

.planos h2 span {
  display: block;
  font-size: 0.9rem;
  color: #fffffc;
  font-weight: normal;
}

/* preco */
.planos .price-plano {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fffffc;
  margin-bottom: 15px;
  text-align: center;
}

.planos .price-plano span {
  font-size: 1rem;
  font-weight: bold;
  color: #aaa;
  font-weight: normal;
}

/* topicos planos */
.planos .detalhes {
  list-style: none;
  margin-bottom: 20px;
  min-height: 328px;
}

.planos .detalhes li {
  font-size: 0.95rem;
  margin-bottom: 10px;
  color: #c2c2c2;
}

.planos .detalhes strong {
  color: #c2c2c2;
}

/* botoes escolher plano */
.actions {
  text-align: center;
}

.actions .choose, .actions .choose2 {
  width: auto;
  padding: 12px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #108c91 ;
  color: #fffffc;
  font-weight: bold;
  transition: border-color 0.2s ease-in-out;
  display: inline-block;
  border: 2px solid transparent;
}

.actions .choose:hover, .actions .choose2:hover {
  border-color: #fffffc;
}

.choose2 {
  margin-top: 29px;
}
